{% if view =="icon" %}
    <div class="ddir fm_dirs" title="{{ dir.name }}" id="{{ dir.id }}" style="text-align: center; cursor: pointer">
        <div class="fm_unsellabel" id="{{ dir.name }}">
            <div><img src="img/ftypes/folder.png" style="width: 50px;" alt="[DIR]" /></div>
            <div class="dname">{{ dir.name }}</div>
        </div>
    </div>
{% else %}
    <div class="ddir fm_dirs_li" title="{{ dir.name }}" id="{{ dir.id }}" style="cursor: pointer">
        <div class="fm_unsellabel" id="{{ dir.name }}">
            <div style="float: left; padding-right: 5px;"><img src="img/ftypes/folder.png" style="width: 15px;" alt="[DIR]" /></div>
            <div style="float: left;" class="dname">{{ dir.name }}</div>

            <div style="float: right;" class="dname">{{ dir.date }}</div>
        </div>
    </div>
{% endif %}